@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
body
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
body *
{
    padding: 0;
    margin: 0;
}
header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
    justify-content: space-between;
    flex-basis: 10vh;
    padding: 15px;
    background-color: #6A11DF;
}
header *
{
    align-items: center;
}
header a
{
    text-decoration: none;
}
#header_name
{
    display: flex;
    flex-basis: 33.3333333333333333%;
}
#header_name h1
{
    color: #FF9200;
    letter-spacing: 4px;
}
#header_name img
{
    width: 100px;
    height: 70.8px;
    padding-right: 15px;
}
#header_nav
{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 0.5em;
    list-style-type: none;
}
#header_nav li a
{
    color: #FBD013;
    font-size: 26px;
    text-decoration: none;
    font-weight: 900;
}

.centered_horizontally
{
    width: fit-content;
    margin: 0 auto;
}
.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.adaptable_row
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer
{
    color: #FF9200;
    background-color: #6711DF;
    padding: 15px;
    font-size: large;
    font-weight: 300;
}

@media screen and (max-width: 500px) {
    header
    {
        flex-direction: column;
        height: auto;
    }
    #header_name
    {
        flex-direction: column;
        align-items: center;
    }
    #header_nav
    {
        flex-direction: column;
    }
}