<header>
    <a href="http://localhost">
        <div id="header_name">
            <img src="Metropros_Logo.png">
            <h1>МетрОпрос</h1>
        </div>
    </a>
    <ul id="header_nav">
        <li class="for_unauthorized"><a href="login.php">Войти</a></li>
        <li class="for_unauthorized"><a href="register.php">Зарегистрироваться</a></li>
        <li class="for_authorized"><a href="polls.php">Мои опросы</a></li>
        <li class="for_authorized"><a href="http://localhost/MC/Controller/logout.php">Выйти</a></li>
    </ul>
</header>